---
layout: archive
title: "Publications 📚"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>

<li><strong>Chen, X.</strong>, Peng, J.<span class="star">*</span>, Song, Z.<span class="star">*</span>, Zheng, Y., & Zhang, B. (2022). Monitoring persistent coal fire using landsat time series data from 1986 to 2020. _IEEE Transactions on Geoscience and Remote Sensing_, 60, 1-16. [<a href="https://doi.org/10.1109/TGRS.2022.3142350" target="_blank" rel="noopener noreferrer">Link</a>][<a href="/publications/Chen et al., TGRS, 2022.pdf" target="_blank">PDF</a>]</li>

<li><strong>Chen, X.</strong>, Achilli, V., Fabris, M., Menin, A., Monego, M., Tessari, G., & Floris, M.<span class="star">*</span> (2021). Combining sentinel-1 interferometry and ground-based geomatics techniques for monitoring buildings affected by mass movements. _Remote Sensing_, 13(3), 452. [<a href="https://doi.org/10.3390/rs13030452" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li><strong>Chen, X.</strong>, Zheng, Y., Peng, J.<span class="star">*</span>, & Floris, M.<span class="star">*</span> (2021). Monitoring river water level using multiple bounces of bridges in SAR images. _Advances in Space Research_, 68(10), 4016-4023. [<a href="https://doi.org/10.1016/j.asr.2021.08.006" target="_blank" rel="noopener noreferrer">Link</a>][<a href="/publications/Chen et al., ASR, 2021.pdf" target="_blank">PDF</a>]</li>

<li><strong>Chen, X.</strong>, Peng, J.<span class="star">*</span>, Motagh, M., Zheng, Y., Shi, M., Yang, H., & Jia, Q. (2020). Co-seismic deformation of the 2017 M s 7.0 Jiuzhaigou Earthquake observed with GaoFen-3 interferometry. _International Journal of Remote Sensing_, 41(17), 6618-6634. [<a href="https://doi.org/10.1080/01431161.2020.1742945" target="_blank" rel="noopener noreferrer">Link</a>][<a href="/publications/Chen et al., IJRS, 2020.pdf" target="_blank">PDF</a>]</li>

</ol>

</p> 
